.pinterest-button {
    height:34px;
}

body{
    min-height: 600px;
    background: url('images/subtle_stripes.png') !important;
}
.navbar.custom {
    background: green;
}
header{
    position:relative;
}
ul.header-menu {
list-style: none;
padding: 48px;
width: 400px;
margin: 0;
background: #c3c3c3;
}
ul.header-menu li a {
background:#8EA38E;
border-bottom: 1px solid rgb(37, 29, 29);
padding: 6px;
border-radius: 6px;
margin-bottom: 3px;
color:#C44D4D;
font-size: 23px;
}
h1.logo {
background: url('images/logo.png') no-repeat left bottom white;
border-radius: 0 0 4px 4px;
border-top: 4px solid#c3c3c3;
font-size: 0;
display: block;
height: 98px;
width: 400px;
margin: 0;
padding: 20px 0 0 0;
}
header .fa {
    position:absolute;
    top: 15px;
    color:#C44D4D;
}
.main-view-container.blog {
    background: url('images/penguin2.png') no-repeat top right;
}
.main-view-container.about {
    background: url('images/pen.png') no-repeat top right;
}

.main-view-container {
    min-height: 600px;
}

.post-image {
    width:370px;
}
.post-title a {
    color:#5881A5;
}

ul.customer-menu {
    list-style: none;
    /*display: inline;*/
}
/*ul.customer-menu li {
    float: left;
}*/
ul.dots {
    list-style: none;
    padding:0;
}
li.dot {
    margin:0 10px 10px 0;
    float: left
}
li.dot:last-of-type{
    margin-right:0;
}
li.dot a img {
    height:66px;
}
/* style.css */

.blog-post {
    border-top:6px solid #c3c3c3;
    background: white;
    width:400px;
    padding:15px;
    background:white;
    border-radius:4px;
    margin-top:30px;
    margin-bottom:30px;
    float: left;
}

.admin-container {
    min-height: 600px;
    padding-bottom:50px;
}
.sub-menu-footer {
    height:50px;
    width:100%;
    background: brown;
}
.footer {
    /*height:300px;*/
    padding:15px;
    background: url('images/green-tile.png') !important;

}
.footer p {
    color:white;
}
.private {
    background: gainsboro;
    border-radius:7px 7px 0 0;
    padding-bottom:30px;
}
.private h1,
.private h2,
.private h3,
.private h4,
.private h5,
.private p,
.private span {
    color:#854D4D;
}
.private a {
    color:#6B6651;
}

/*// Contact*/
img {
     max-width: 100%;
}
input.form {
    padding: 5px;
    border-radius: 4px;
    border: 2px solid #746C6C;
    width: 100%;
    /*box-shadow: 0px 0px 1px 1px #C48888;*/
    margin-bottom:15px;
    /*line-height: 1rem;*/
}
input.form.textarea {
    height:120px;
}
button.form-control{
background-color: #99BFEB;
background: url(images/linear_bg_2.png);
background-repeat: repeat-x;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#91B6DF), to(#2F2727));
background: -webkit-linear-gradient(top, #2F2727, #7398C2);
background: -moz-linear-gradient(top, #2F2727, #1a82f7);
background: -ms-linear-gradient(top, #2F2727, #1a82f7);
background: -o-linear-gradient(top, #2F2727, #1a82f7);
color: white;
}
.contact-form {
    margin-top:50px;
}
h2.thanks {
    text-align: center;
}
ul.blog-list{
    list-style: none;
}
ul.blog-list li{
background: rgb(82, 76, 76);
width: 150px;
padding: 10px;
border-radius: 4px;
margin-top: 10px;
}
ul.blog-list li a{
    color:snow;
    font-weight: bold;
}

.comment h5 {
    font-weight: bold;
    margin-right: 15px;
    display: inline;
    float: left;
    color: #293F29;
}
.comment p {
    font-weight: bold;
    margin-right: 15px;
    display: inline;
    float: left;
    color: #5F4646;
}
.comment {
    float: left;
    width: 100%;
    border-bottom:1px solid #282828;
}

input.comment {
padding: 2px;
border-radius: 4px;
border: 2px solid #746C6C;
    /*width: 63%;*/
    /* box-shadow: 0px 0px 1px 1px #C48888; */
    /*margin-bottom: 25px;*/
    /* line-height: 1rem; */
}

.break-word {
   word-wrap: break-word;
}

section.add-comment {
    margin-top:15px;
    float: left;
}
section.add-comment {

}

.animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
}
 
.animate-enter.animate-enter-active {
    opacity: 1;
}

