doctype html
html(lang='en', data-ng-app='eshoprShop')
    head
        meta(charset='utf-8')
        title fdklhkldashdflkj

        link(href="/components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css", rel="stylesheet")
        link(href="/components/font-awesome/css/font-awesome.min.css", rel="stylesheet")

        link(href="/index.css", rel="stylesheet")

        // Contact
        //link(href="/js/contact/success-animate.css")

        // Gallery
        link(href="/js/gallery/gallery.css", rel="stylesheet")

        // This is needed because Facebook login redirects add #_=_ at the end of the URL
        script(type="text/javascript").
            if (window.location.href.indexOf('#_=_') > 0) {
                window.location = window.location.href.replace(/#.*/, '');
            }
        script(src="http://platform.tumblr.com/v1/share.js")
    body(data-ng-cloak class="factory")

        //#alertBox.alert.alert-danger(data-ng-show="error")
            //button(type="button", class="close", data-ng-click="error = null;") &times;
            //strong Oh no!&nbsp;
            //span(data-ng-bind="error")
        .main-view(data-ui-view autoscroll="false")

        shopfooter

        // Development
        script(src='/components/angular/angular.js')
        
        // Production
        //script(src='/components/angular/angular.js')
        script(src='/components/angular-cookies/angular-cookies.min.js')
        script(src='/components/angular-ui-router/release/angular-ui-router.min.js')
        script(src='/components/angular-resource/angular-resource.js')
        script(src='/components/angular-animate/angular-animate.js')
        script(src='/components/angular-bootstrap/ui-bootstrap.js')
        script(src='/components/angular-bootstrap/ui-bootstrap-tpls.js')
        script(src='/components/jquery/dist/jquery.js')
        script(src='/components/gsap/src/uncompressed/TimelineMax.js')
        script(src='/components/gsap/src/uncompressed/TweenMax.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.js')
        script(src='/js/routingConfig.js')
        script(src='/js/app.js')
        script(src='/js/services.js')
        script(src='/js/controllers.js')
        script(src='/js/filters.js')
        script(src='/js/directives.js')
        script(src='/js/api.js')
        script(src='/js/cupboardController.js')
        script(src='/js/page/pageController.js')
        script(src='/js/recipes/recipesController.js')

        // users
        script(src='/js/user/userController.js')

        // Blog Plugin
        script(src='/js/blog/admin/adminBlogController.js')
        script(src='/js/blog/public/publicBlogController.js')
        script(src='/js/blog/public/sidebarBlogController.js')
        script(src='/js/blog/public/postController.js')
        script(src='/js/blog/public/commentController.js')
        script(src='/js/blog/libs/bootstrap-colorpicker.js')
        script(src='/components/textAngular/src/textAngular-sanitize.js')
        script(src='/components/textAngular/src/textAngular.js')
        script(src='/components/textAngular/src/textAngularSetup.js')
        script(src="//assets.pinterest.com/j/pinit.js" type="text/javascript" async)

        // Shop Plugin
        script(src='/js/shop/product/productController.js')
        script(src='/js/shop/checkout/checkoutController.js')
        //script(src='/js/shop/contactController.js')
        script(src='/js/shop/order/orderController.js')
        script(src='/js/shop/libs/simpleCart.js')
        script(src='/components/angular-cookies/angular-cookies.js')
        script(src='/components/angular-local-storage/angular-local-storage.js')

        // Listing Plugin
        script(src="/js/listing/listingController.js")
        script(src="/js/listing/uiController.js")
        script(src="/js/listing/addListingController.js")
        script(src="/js/listing/listingModel.js")
        script(src="/js/listing/weatherDirective.js")
        script(src="/components/simpleWeather/jquery.simpleWeather.js")
        script(src="/js/listing/libs/sortable.js")
        script(src="/js/listing/libs/jquery-ui-1.11.1.custom/jquery-ui.js")

        //script(src="js/listing/tools/toolController.js")
        //script(src="js/listing/libs/.js")

        // About
        script(src="/js/about/aboutController.js")
        script(src="/js/about/aboutAdminController.js")

        // Gallery
        script(src="/js/gallery/galleryController.js")

        // Image upload
        script(src="/components/ng-file-upload/angular-file-upload.js")

        // Header
        script(src='/js/header/headerDirective.js')
        script(src='/js/header/headerController.js')
        // Footer
        script(src='/js/footer/footerDirective.js')

        script(type="text/ng-template", id="header/header")
            include views/partials/header/header
        script(type="text/ng-template", id="footer/footer")
            include views/partials/footer/footer

        // Partial views... Load up front to make transitions smoother
        script(type="text/ng-template", id="404")
            include views/partials/404
        script(type="text/ng-template", id="public")
            include views/partials/public
        script(type="text/ng-template", id="admin")
            include views/partials/admin
        script(type="text/ng-template", id="login")
            include views/partials/login

        // Admin Views
        script(type="text/ng-template", id="admin/layout")
            include views/partials/admin/layout
        script(type="text/ng-template", id="admin/welcome")
            include views/partials/admin/welcome
        script(type="text/ng-template", id="admin/add")
            include views/partials/admin/add
        script(type="text/ng-template", id="admin/cupboard")
            include views/partials/admin/cupboard
        script(type="text/ng-template", id="admin/write")
            include views/partials/admin/write
        script(type="text/ng-template", id="admin/stock")
            include views/partials/admin/stock
        script(type="text/ng-template", id="register")
            include views/partials/register

        script(type="text/ng-template", id="recipes/recipes")
            include views/partials/recipes/recipes
        script(type="text/ng-template", id="recipes/recipe")
            include views/partials/recipes/recipe
        script(type="text/ng-template", id="recipes/add")
            include views/partials/recipes/add        

        // Blog Plugin
        script(type="text/ng-template", id="blog/public/blog")
            include views/partials/blog/public/blog
        script(type="text/ng-template", id="blog/public/sidebar")
            include views/partials/blog/public/sidebar
        script(type="text/ng-template", id="blog/public/list")
            include views/partials/blog/public/list
        script(type="text/ng-template", id="blog/public/post")
            include views/partials/blog/public/post
        script(type="text/ng-template", id="blog/admin/write")
            include views/partials/blog/admin/write

        // Listings
        script(type="text/ng-template", id="listing/layout")
            include views/partials/listing/layout
        script(type="text/ng-template", id="listing/ui")
            include views/partials/listing/ui
        script(type="text/ng-template", id="listing/add")
            include views/partials/listing/add

        // About
        script(type="text/ng-template", id="about/about")
            include views/partials/about/about  
        script(type="text/ng-template", id="about/edit")
            include views/partials/about/edit

        // User
        script(type="text/ng-template", id="user/layout")
            include views/partials/user/layout  
        script(type="text/ng-template", id="user/overview")
            include views/partials/user/overview   

        // Gallery
        script(type="text/ng-template", id="gallery/gallery")
            include views/partials/gallery/gallery
        script(type="text/ng-template", id="gallery/gallerysidebar")
            include views/partials/gallery/gallerysidebar
        script(type="text/ng-template", id="gallery/gallerymodal")
            include views/partials/gallery/gallerymodal

        // Contact
        script(src='/js/contact/contactController.js')
        script(src='/js/contact/successController.js')

        script(type="text/ng-template", id="contact/contact")
            include views/partials/contact/contact
        script(type="text/ng-template", id="contact/success")
            include views/partials/contact/success



