body{
    min-height: 600px;
    background: url('images/subtle_stripes.png') !important;
}
.navbar.custom {
    background: green;
}
header{
    position:relative;
}
ul.header-menu {
list-style: none;
padding: 48px;
width: 400px;
margin: 0;
background: #c3c3c3;
}
ul.header-menu li a {
background:#8EA38E;
border-bottom: 1px solid rgb(37, 29, 29);
padding: 6px;
border-radius: 6px;
margin-bottom: 3px;
color:#C44D4D;
font-size: 23px;
}
h1.logo {
background: url('images/logo.png') no-repeat left bottom white;
border-radius: 0 0 4px 4px;
border-top: 4px solid#c3c3c3;
font-size: 0;
display: block;
height: 98px;
width: 400px;
margin: 0;
padding: 20px 0 0 0;
}
header .fa {
    position:absolute;
    top: 15px;
    color:#C44D4D;
}
.main-view-container.blog {
    background: url('images/penguin.png') no-repeat top right;
}
.main-view-container {
    min-height: 600px;
}

.post-image {
    width:370px;
}
.post-title a {
    color:#5881A5;
}

ul.customer-menu {
    list-style: none;
    /*display: inline;*/
}
/*ul.customer-menu li {
    float: left;
}*/
ul.dots {
    list-style: none;
}
li.dot {
    margin:0 10px 10px 0;
    float: left
}
li.dot a img {
    height:70px;
}
/* style.css */

.blog-post {
    border-top:6px solid #c3c3c3;
    background: white;
    width:400px;
    padding:15px;
    background:white;
    border-radius:4px;
    margin-top:30px;
}

.admin-container {
    min-height: 600px;
    padding-bottom:50px;
}
.sub-menu-footer {
    height:50px;
    width:100%;
    background: brown;
}
.footer {
    height:300px;
    background: url('images/green-tile.png') !important;

}
.private {
    background: gainsboro;
    border-radius:7px 7px 0 0;
    padding-bottom:30px;
}
.private h1,
.private h2,
.private h3,
.private h4,
.private h5,
.private p,
.private span {
    color:#854D4D;
}
.private a {
    color:#6B6651;
}

/*// Contact*/

input.form {
    padding: 5px;
    border-radius: 4px;
    border: 2px solid #746C6C;
    width: 100%;
    box-shadow: 0px 0px 1px 1px #C48888;
    margin-bottom:25px;
    /*line-height: 1rem;*/
}
input.form.textarea {
    height:120px;
}

.contact-form {
    margin-top:50px;
}
h2.thanks {
    text-align: cen
}
/* ANIMATION STYLINGS
============================================================================= */
.container-a {
    position: relative;
}
.main-view[ui-view]             { width:auto; 
/*background: green;*/
/*min-height:500px;*/
width: 400px;
opacity: 1;
overflow: hidden;
position: absolute;
top:0;
}

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
.main-view.ng-enter,

    transition:1.7s all ease; -moz-transition:1.7s all ease; -webkit-transition:1.7s all ease; 
}
    
/* enter animation */
.main-view.ng-enter            { 
    -webkit-animation:slideInRight 1.7s both ease;
    -moz-animation:slideInRight 1.7s both ease;
    animation:slideInRight 1.7s both ease; 
}

 /*leave animation */
.main-view.ng-leave            { 
    -webkit-animation:slideOutLeft 1.7s both ease;
    -moz-animation:slideOutLeft 1.7s both ease;
    animation:slideOutLeft 1.7s both ease;   
}
.animate-enter, 
.animate-leave { 
    -webkit-transition: 1050ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 1050ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 1050ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 1050ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1050ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animate-leave.animate-leave-active,
.animate-enter {
    -webkit-transform: rotateX(-180deg) translatez(30px);
    -moz-transform: rotateX(-180deg) translatez(30px);
    -ms-transform: rotateX(-180deg) translatez(30px);
    -o-transform: rotateX(-180deg) translatez(30px);
    transform: rotateX(-180deg) translatez(30px);
    opacity: 0;
    height: 0px;
}        
 
.animate-enter.animate-enter-active,
.animate-leave {
    -webkit-transform: rotateX(0deg) translatez(30px);
    -moz-transform: rotateX(0deg) translatez(30px);
    -ms-transform: rotateX(0deg) translatez(30px);
    -o-transform: rotateX(0deg) translatez(30px);
    transform: rotateX(0deg) translatez(30px);
    opacity: 1;
    height: 30px;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
    to      { transform: translateY(-200%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateY(-200%); }
}
@-webkit-keyframes slideOutLeft {
        from { opacity: 1; }
    to   { opacity: 0; }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateY(200%); }
    to      { transform: translateY(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateY(200%); }
    to      { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInRight {
        from { opacity: 0; }
    to   { opacity: 1; }
}
        #myImg.fade-out
        {
            
        }
        #myImg.fade-in
        {
            opacity:1;
        }