.footer.container-fluid
    .container
        .row

            .col-md-3.center-stuff
                p 
                    i.fa.fa-book.wrapped-fa
                    span.md-3-title Discuss 
                    span.md-3-p ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              
            .col-md-3.center-stuff
                p 
                    i.fa.fa-bar-chart-o.wrapped-fa
                    span.md-3-title Design 
                    span.md-3-p ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .col-md-3.center-stuff
                p 
                    i.fa.fa-tasks.wrapped-fa
                    span.md-3-title Develop 
                    span.md-3-p ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .col-md-3.center-stuff
                p 
                    i.fa.fa-paper-plane.wrapped-fa
                    span.md-3-title Deploy 
                    span.md-3-p ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

