h2 Add a recipe
    i.fa.fa-list

h3 Add ingredient
    article(ng-controller="ingredientsList")

    form
        .form-group
        //<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
        input.form-control.input-lg.text-center(type="text" placeholder="bundleSku" ng-model="formData.sku")
        input.form-control.input-lg.text-center(type="text" placeholder="bundleName" ng-model="formData.bundleName")
        input.form-control.input-lg.text-center(type="text" placeholder="bundlePrice" ng-model="formData.bundlePrice")
        input.form-control.input-lg.text-center(type="text" placeholder="inventory" ng-model="formData.bundleInventory")
        input.form-control.input-lg.text-center(type="text" placeholder="image" ng-model="formData.bundleImage")
    //<!-- createingredient() WILL call the createIngredients method of ingredientsController -->
    button.medium.success.button(type="submit" ng-click="ingredientSave()")
        Add


