header(ng-controller="headerController")
    ul.header-menu(collapse="!isCollapsed")
        li 
            a(href="/") HOME
        li
            a(href="/collections") COLLECTIONS
        li
            a(href="/biography") BIOGRAPHY
        li
            a(href="/contact") CONTACT
    h1.logo urban penguin
    a(href="#" ng-click="isCollapsed = !isCollapsed") 
        i.fa.fa-bars

