body {
	background:url('oldbg.png');

}
.production.line {
 background: pink !important;
}
#plot-one, .plotarea {
	/*background:pink;*/
	height:200px; width:300px;
}

.plots ul {
	list-style: none;
	width: 100%;
}
.graph-key {
	display: inline;
	float: left;
}

.navbar.custom {
	padding:12px 0px;
	border-radius:0;
    /*background: #75A375;*/
	background: #fff;
	margin-bottom:0;
}

.factory h1, .factory h1 a{
    font-size: 36px;
    color:#557088;
} 
.factory ul {
    list-style: none;
}
.factory a {
	color:#557088;
    font-size: 18px;
}

.main-view-container {
	/*background:red;*/
	min-height:400px;
	padding:25px 0;
}

.footer {
	padding:25px 0 ;
	background: #fff;
}
.footer h3 {
    font-size: 35px;
    padding: 23px;
    color: #C7B9A0;
    text-shadow: 1px 1px 1px #999;
}

/*home*/
.wrapped-fa {
    float: left;
    font-size: 48px;
    padding: 0 12px 0px 0;
/*color:#557088;*/
}
.md-3-title {
    font-size: 20px;
    font-weight: bold;
    /*color:#557088;*/
}
.section-title {
    font-size: 45px;
    padding: 23px;
    color: black;
    text-shadow: 1px 1px 2px#A18FD8;
}

article.post {
    background: white;
    padding: 10px 15px;
    border: 1px solid #c3c3c3;
    margin: 0 0 25px;
}

article.post {
    font-size: 18px;
}


input.form {
    padding: 5px;
    border-radius: 4px;
    border: 2px solid #746C6C;
    width: 100%;
    box-shadow: 0px 0px 1px 1px #C48888;
    margin-bottom:25px;
    margin-bottom:10px;
    /*line-height: 1rem;*/
}
input.form.textarea {
    margin-bottom:10px;
    height:120px;
}
.form-control{
    margin-bottom:10px;
}

.posrel {
    position:relative;
}
button.form.special {

}

.login.right {
    float: right;
}


.headerRow {
    display:none;
}

.itemRow {
    border-bottom:1px solid green;
}
.item-decrement, .item-quantity {
    float:left;
}
.options {
    border-top:1px solid green;
    padding:10px 0;
}
