h1 Welcome User

.row
    .col-md-3
        .listing
            ul.sidebar
                user image
    .col-md-9
        .listing(ui-view="right" autoscroll="false")        
            h1 Welcome {{user}}
            