.container-fluid.main-view-container(ng-class="class")
    .row
        .col-lg-6
            .row
                .col-md-8.col-md-offset-4.ui-view-container
                    shopheader
                    .container-a
                        .main-view(ui-view="main" autoscroll="false")
        .col-lg-6
            .side-view(ui-view="sidebar")

