.container-fluid.main-view-container
    .row
        .col-md-6
            .row
                .col-md-8.col-md-offset-4.ui-view-container
                    shopheader
                    .main-view(data-ui-view autoscroll="false")
