article.blog-post(ng-repeat="post in posts")
    // | offset: currentPage*itemsPerPage | limitTo: itemsPerPage")
    h1.post-title
        a(href="/post/{{post._id}}") {{post.title}}
    .post-body(ng-bind-html="post.body")
    //img.post-image(src="/images/ioana/{{post.image}}")
    br
    hr
    pin
    tumble



