{{debug}}

article.blog-post
    h1.post-title {{post[0].title}}
    .post-body(ng-bind-html="post[0].body")
    //img.post-image(src="/images/ioana/{{post[0].image}}")
    br
    hr
    h4 share on  facebook  twitter  tumblr pinterest 
    hr
    h4 Comments
    //{{post[0].comments}}
    article.comment.row(ng-repeat="comment in post[0].comments")
        .col-md-5
                h5 
                    i.fa.fa-user 
                    span &nbsp;{{comment.user}}
            .col-md-7
                p {{comment.message}}
    hr
    section(ng-controller="publicBlogController")
        aside.comment-form.row
            form(ng-submit="insertComment()")
                .col-md-2
                    button(type="submit")
                        i.fa.fa-user
                .col-md-4
                    input.comment.break-word(type="text" ng-model="formData.user" value="user")
                .col-md-4
                    input.comment(type="textarea" ng-model="formData.message" value="message")







