article.blog-post
    h1.post-title {{post[0].title}}
    .post-body(ng-bind-html="post[0].body")
    //img.post-image(src="/images/ioana/{{post[0].image}}")
    br
    hr
    h4 share on  facebook  twitter  tumblr pinterest 
    hr
    h4 Comments
    //{{post[0].comments}}
    section
        article.comment.row(ng-repeat="comment in post[0].comments track by $index" ng-animate=" 'animate' ")
            .col-md-5
                    h5 
                        i.fa.fa-user 
                        span &nbsp;{{comment.user}}
                .col-md-7
                    p {{comment.message}}
    hr
    section.add-comment(ng-controller="publicBlogController")
        aside.comment-form.row
            form(ng-submit="insertComment()")
                .col-md-5
                    button(type="submit")
                        i.fa.fa-user
                        | &nbsp;{{user.username}}
                    input.comment.break-word(type="hidden" ng-init="formData.user = user.username" ng-model="formData.user" value="{{user.username}}")
                .col-md-7
                    input.comment(type="textarea" ng-model="formData.message" value="message")
    hr
    section.authorization
        .row
            .col-md-6
                button(ng-click="openLogin = !openLogin; openRegister = false") 
                    i.fa.fa-paperclip
                    | &nbsp;Login
            .col-md-6
                button(ng-click="openRegister = !openRegister;  openLogin = false")
                    i.fa.fa-file-text
                    | &nbsp;Register
    hr
    section.add-comment(ng-controller="LoginCtrl" ng-show="openLogin")
        aside.comment-form.row
        h4 Login
        div(ng-include="'login'")

    section.add-comment(ng-controller="LoginCtrl" ng-show="openRegister")
        aside.comment-form.row
        h4 Register
        div(ng-include="'register'")






