article.blog-post
    h1.post-title {{post[0].title}}
    .post-body(ng-bind-html="post[0].body")
    //img.post-image(src="/images/ioana/{{post[0].image}}")
    br
    hr
    h4 share on  facebook  twitter  tumblr pinterest 
    hr
    section(ng-controller="commentController")
        article.comment.row(ng-repeat="comment in comments")
            .col-md-4
                h5 
                    i.fa.fa-user 
                    span &nbsp;{{comment.name}}
            .col-md-8
                p {{comment.message}}
        aside.comment-form.row
            form(ng-submit="insertComment()")
                .col-md-2
                    button
                        i.fa.fa-user
                col-md-4
                    .row
                        input.comment(type="text" ng-model="formData.user" value="user")
                col-md-4
                    .row
                        input.comment(type="textarea" ng-model="formData.message" value="message")




