article.blog-post
    h1.post-title {{post[0].title}}
    .post-body(ng-bind-html="post[0].body")
    //img.post-image(src="/images/ioana/{{post[0].image}}")
    br
    hr
    h4 share on  facebook  twitter  tumblr pinterest 


