.modal-header
    //h3.modal-title I'm a modal!
.modal-body
    {{thing}}
    img(ng-src="{{thing.image}}" title="{{thing.description}}")

.modal-footer

    button.btn.btn-warning(ng-click="cancel()") Close 
        i.fa.fa-close
