.slider
	img.slide.slide-animation(ng-repeat="slide in slides" 
		ng-hide="!isCurrentSlideIndex($index)"
		ng-src="{{slide.image}}")
a.arrow.next(href="#" ng-click="prevSlide()")
	i.fa.fa-arrow-circle-left
	
a.arrow.prev(href="#" ng-click="nextSlide()") 
	i.fa.fa-arrow-circle-right

